node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/
.git
.gitignore
*.md
.DS_Store
.vscode/
.idea/
*.log
osaa-drm-app/node_modules
osaa-drm-app/dist
osaa-drm-app/.vite

